.App {
    width: 90%;
    max-width: 600px;
    margin: auto;
    background-color: whitesmoke;
    min-height: 100vh;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-image: url("https://rometips.nl/images/forum-romanum.jpg");
    background-position: center center;
    height: 100px;
    color: white;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: white;
    background-color: orange;
    font-weight: bolder;
    font-size: large;
    padding: 2px 10px;
    border-radius: 16px;

}

.maincomponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h4 {
    font-weight: normal;
}

#score {
    width: 140px;
    text-align: end;
}

.wordGenerator {
    width: 80%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    margin: 32px auto auto auto;
    justify-content: space-between;
    align-items: center;
}

.scorePlusNewBtn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.advice {
    font-weight: light;
    font-style: italic;
    color: grey;
    font-size: small;
}

.toBeAnalyzed {
    font-weight: bold;
    height: 20px;
    margin: 16px auto 0 auto;
    width: 150px;
    border: solid 1px white;
    background-color: white;
    border-radius: 16px;
    text-align: center;
    padding: 8px 0;
}

.getNounButton, 
.checkAnswerButton,
.helpButton,
.closeButton {
    border-radius: 16px;
    border: none;
    background-color:orange;
    color: black;
    padding: 8px 16px;
    font-size: medium;
    width: 140px;
    font-family: 'Lato', sans-serif;
}

.checkAnswerButton-disabled {
    border-radius: 16px;
    border: none;
    background-color:orange;
    color: #1010104D;
    padding: 8px 16px;
    font-size: medium;
    width: 140px;
    font-family: 'Lato', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 16px;
    min-height: 200px;
    width: 80%;
    min-width: 300px;
}

#nomSG {
    padding: 4px 4px;
    border-radius: 8px;
    border: 0.5px solid lightgrey;
}

.case {
    display: flex;
    flex-direction: column;
}

.response {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
    padding: 4px 0;
}

p {
    margin: 0px;
}

.casesList {
    margin: 8px 0;
}

.naamvallen {
    padding: 4px 0;
}

#declination {
    padding: 4px 0;
    border-radius: 8px;
    border: 0.5px solid lightgrey;
}

.correctInput {
    color: green;
    font-weight: bold;
}

.wrongInput {
    color: red;
    font-weight: bold;
}

#result {
    height: 16px;
    font-style: italic;
}

#correctNR {
    color: green;
}

.helpPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.helpTitle {
    text-align: center;
    width: 70%;
}

.invisible {
    display: none;
}

.buttonContainer {
    width: 80%;
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.cheatSheetContainer,
.emperorContainer {
    display: none;
    position: absolute;
    top: 100px;
    margin: auto;
    z-index: 2;
    overflow-y: scroll;
    width: 90%;
    min-width: 340px;
    max-width: 600px;
    height: 730px;
    background-color: whitesmoke;
    padding-bottom: 64px;
}

.cheatSheet,
.emperorInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.cheatSheet img {
    margin-bottom: 32px;
    min-width: 250px;
    max-width: 310px;
}

#emperorImage {
    min-width: 250px;
    max-width: 310px;
}

.emperorInfo p {
    margin: 8px 0;
    text-align: center;
}

#killer {
    margin-bottom: 32px;
}