.App {
    width: 50%;
    margin: auto;
    background-color: whitesmoke;
    height: 100vh;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("https://rometips.nl/images/forum-romanum.jpg");
    background-position: center center;
    height: 80px;
    color: white;
}

.maincomponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.formGenerator {
    width: 300px;
    display: flex;
    flex-direction: row;
    margin: 16px;
    justify-content: space-around;
    border: solid 1px orange;
}

.toBeAnalyzed {
    font-weight: bold;
}

.getNounButton {
    border-radius: 16px;
    border: none;
    background-color:orange;
    padding: 8px 16px;
}