.App {
    width: 50%;
    margin: auto;
    background-color: whitesmoke;
    height: 100vh;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("https://rometips.nl/images/forum-romanum.jpg");
    background-position: center center;
    height: 80px;
    color: white;
}

.maincomponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.maincomponent p {
    border: solid 1px purple;
}